node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
veda
web-build/

# macOS
.DS_Store

# Tailwind
output.css

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
